<a href="https://colab.research.google.com/github/Mayank7382/Zeotap_Assignment/blob/main/Mayank_Gupta_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import pandas as pd

In [5]:
transactions = pd.read_csv('Transactions (1).csv')
products = pd.read_csv('Products.csv')
customers = pd.read_csv('Customers.csv')

In [6]:
merged_data = pd.merge(transactions, products, on='ProductID')
merged_data = pd.merge(merged_data, customers, on='CustomerID')

In [7]:
print("Transactions Data Overview:")

Transactions Data Overview:

In [8]:
print(transactions.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   object
 1   CustomerID       1000 non-null   object
 2   ProductID        1000 non-null   object
 3   TransactionDate  1000 non-null   object
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   Price            1000 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB
None

In [9]:
print(transactions.describe())

          Quantity   TotalValue       Price
count  1000.000000  1000.000000  1000.00000
mean      2.537000   689.995560   272.55407
std       1.117981   493.144478   140.73639
min       1.000000    16.080000    16.08000
25%       2.000000   295.295000   147.95000
50%       3.000000   588.880000   299.93000
75%       4.000000  1011.660000   404.40000
max       4.000000  1991.040000   497.76000

In [10]:
print("\nProducts Data Overview:")
print(products.info())
print(products.describe())

Products Data Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    100 non-null    object
 1   ProductName  100 non-null    object
 2   Category     100 non-null    object
 3   Price        100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB
None
            Price
count  100.000000
mean   267.551700
std    143.219383
min     16.080000
25%    147.767500
50%    292.875000
75%    397.090000
max    497.760000

In [11]:
print("\nCustomers Data Overview:")
print(customers.info())
print(customers.describe())

Customers Data Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    200 non-null    object
 1   CustomerName  200 non-null    object
 2   Region        200 non-null    object
 3   SignupDate    200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB
None
       CustomerID      CustomerName         Region  SignupDate
count         200               200            200         200
unique        200               200              4         179
top         C0001  Lawrence Carroll  South America  2024-11-11
freq            1                 1             59           3

In [12]:
total_revenue = transactions['TotalValue'].sum()
print(f"\nTotal Revenue: ${total_revenue:.2f}")

Total Revenue: $689995.56

In [13]:
top_products = merged_data.groupby('ProductName')['TotalValue'].sum().nlargest(5)
print("\nTop 5 Products by Revenue:")
print(top_products)

Top 5 Products by Revenue:
ProductName
ActiveWear Smartwatch    39096.97
SoundWave Headphones     25211.64
SoundWave Novel          24507.90
ActiveWear Jacket        22712.56
ActiveWear Rug           22314.43
Name: TotalValue, dtype: float64

In [14]:
top_customers = merged_data.groupby('CustomerName')['TotalValue'].sum().nlargest(5)
print("\nTop 5 Customers by Spending:")
print(top_customers)

Top 5 Customers by Spending:
CustomerName
Paul Parsons     10673.87
Bruce Rhodes      8040.39
Gerald Hines      7663.70
William Adams     7634.45
Aimee Taylor      7572.91
Name: TotalValue, dtype: float64

In [15]:
region_sales = merged_data.groupby('Region')['TotalValue'].sum()
print("\nSales Distribution by Region:")
print(region_sales)

Sales Distribution by Region:
Region
Asia             152074.97
Europe           166254.63
North America    152313.40
South America    219352.56
Name: TotalValue, dtype: float64

In [16]:
popular_categories = merged_data.groupby('Category')['Quantity'].sum().nlargest(5)
print("\nMost Popular Product Categories:")
print(popular_categories)

Most Popular Product Categories:
Category
Books          681
Home Decor     639
Electronics    627
Clothing       590
Name: Quantity, dtype: int64

In [17]:
customers['SignupDate'] = pd.to_datetime(customers['SignupDate'])
customer_acquisition = customers.groupby(customers['SignupDate'].dt.to_period('M')).size()
print("\nCustomer Acquisition Over Time:")
print(customer_acquisition)

Customer Acquisition Over Time:
SignupDate
2022-01     1
2022-02     7
2022-03     8
2022-04     8
2022-05     8
2022-06     5
2022-07     4
2022-08     4
2022-09     6
2022-10     3
2022-11     3
2022-12     7
2023-01     5
2023-02     6
2023-03     8
2023-04     6
2023-05     3
2023-06     3
2023-07     3
2023-08     2
2023-09     4
2023-10     7
2023-11     5
2023-12     5
2024-01     9
2024-02     8
2024-03     4
2024-04    10
2024-05     6
2024-06     4
2024-07     6
2024-08     4
2024-09    11
2024-10     5
2024-11    11
2024-12     1
Freq: M, dtype: int64